*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: white;
  font-family:  Helvetica, sans-serif;
}

.main {
  position: relative; 
}


/* smt with keyframes forwards (last keyframe) causes hover specifcally for transform: scale() to not work properly */
/* .main > *, .homepagesections, .aboutMeCarouselStyle  {
  opacity: 0;
  animation: fadeUp 3s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* START OF NAV BAR THINGS */

header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.764);
}

.navLinks a{
  margin-right: 20px;
}

nav a {
  margin: 0;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding-left: 20px;
}

nav a:hover{
  opacity: 0.8;
}

/* END OF NAV BAR THINGS */

.AboutMe {
  background-image: url(./images/bluenightsky.jpeg);
  background-size: 100% 100%;
  padding: 20vh 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepagesections.blackHomePageBox {
  display: inline-block;
  background-color: rgb(0,0,0,0.8);
  box-shadow: 10px 5px 5px rgb(0,0,0,0.7);
  padding: 10vh 2vw;
  width: 50%;

}

.homepagesections.blackHomePageBox > * {
  text-align: center;
  line-height: 130%;
}

body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #1a1a1a, #404040);
}

.main {
  margin: 5vh 5vw 0;
}

.homepagesections.middle {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.homepagesections {
  background-color: #00000072;
  font-size: 15px;
  width: 50vw;
  height: 40vh;
  padding: 2vw 1vw;
  box-shadow: 10px 5px 5px #0f0f0f;
  border-radius: 0.5rem;
  transition: transform 1s ease, background-color 1s ease, height 1s ease, width 1s ease;
}


.homepagesections.growing-box  > * {
  opacity: 0.5;
  font-weight: bold;
  transition: opacity 1s ease;
}


.growing-box:hover{
  transform: scale(1.2);
  background-color: #00000086;
}

.growing-box:hover >*{
  opacity: 1; 
}


.homepagesections h1 {
  font-size: 40px;
}

.homepagesections p {
  margin: 5% 5% auto;
  text-align: left;
  display: inline-block;
}

.homepagesections button, .carousel-button {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5% auto 0;
  font-size: 20px;
  padding: 3% 8%;
  border: none;
  border-radius: 0.5rem;
}

.homepagesections button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.homepagesections.right {
  margin-right: 0;
  margin-left: auto;
}

.homepagesections.left {
  margin-left: 0;
  margin-right: auto;
}

.carousel {
  width: 25vw;
  height: 50vh;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  z-index: 2000;
  position: absolute;
  bottom: 0;
  height: auto;
  width: 25%;
  background-color: black;
}

.carousel-button.prev {
  left: -10px;
  bottom: -10px; 
}

.carousel-button.next {
  right: -10px;
  bottom: -10px; 
}

.carouselRemoveLiStyles {
  list-style-type: none;
}

.projectHeading {
  margin: 7vh auto; 
  font-size: 50px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2% 5%;
  border-radius: 0.5em;
  
}

.singleproject {
  display: flex;
  align-items: center;
  margin-bottom: 20vh;
}
